<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd4zCfk5dZ4vVBZ967jL0Xj0kDIlfhWSk</string>
	<key>GCM_SENDER_ID</key>
	<string>767038735034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.survivalcoding.alimiproMockData</string>
	<key>PROJECT_ID</key>
	<string>alimi-pro-2</string>
	<key>STORAGE_BUCKET</key>
	<string>alimi-pro-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767038735034:ios:a7b4199852a7d8e7efb883</string>
</dict>
</plist>